In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

In [2]:
raw_data = pd.read_csv("GDP_Dataset.csv")

In [3]:
raw_data.head()

         date       GDP   Per Capita   Growthannualchange
0  31/12/1960  3.749265      81.5869                  NaN
1  31/12/1961  4.118648      87.5174               5.9873
2  31/12/1962  4.310164      89.4933               4.4829
3  31/12/1963  4.630827      93.8839               8.6888
4  31/12/1964  5.204956     102.9612               7.5698