In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [2]:
data = pd.read_csv("GDP_Dataset.csv")
data.head()

         date       GDP   Per Capita   Growthannualchange
0  31/12/1960  3.749265      81.5869                  NaN
1  31/12/1961  4.118648      87.5174               5.9873
2  31/12/1962  4.310164      89.4933               4.4829
3  31/12/1963  4.630827      93.8839               8.6888
4  31/12/1964  5.204956     102.9612               7.5698

In [5]:
mean_val = data[' Growthannualchange'].mean()
mean_val

5.059570967741935

In [6]:
data[' Growthannualchange'].fillna(mean_val, inplace=True)
data.head()

         date       GDP   Per Capita   Growthannualchange
0  31/12/1960  3.749265      81.5869             5.059571
1  31/12/1961  4.118648      87.5174             5.987300
2  31/12/1962  4.310164      89.4933             4.482900
3  31/12/1963  4.630827      93.8839             8.688800
4  31/12/1964  5.204956     102.9612             7.569800

In [8]:
train_dates = pd.to_datetime(data["date"])

C:\Users\haris\AppData\Local\Temp\ipykernel_30044\90571183.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  train_dates = pd.to_datetime(data["date"])

In [10]:
cols = list(data)[1:4]

In [12]:
df_for_training = data[cols].astype(float)

In [13]:
scaler = StandardScaler()
scaler = scaler.fit(df_for_training)
df_for_training_scaled = scaler.transform(df_for_training)